# DATOS ESTRUCTURADOS

**GRUPO:** GESTDB_2

**MIEMBROS:** 
- JAIME ALVAREZ URUEÑA
- ÁLVARO FRAILE CARMENA 
- ALEJANDRO MENDOZA MEDINA
- JAVIER QUESADA PAJARES

In [5]:
import pandas as pd
import mariadb

Para esta práctica hemos seleccionado las tablas de *drivers* y *results* del siguiente dataset [**Formula 1 World Championship (1950 - 2024)**](https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020?resource=download&select=drivers.csv). Tomaremos estas tablas y las procesaremos ligeramente y las insertaremos sobre un servicio de MySQL.

## Lectura de datos

Vamos a leer los datos elegidos usando pandas:

In [2]:
drivers = pd.read_csv("./data/drivers.csv")
results = pd.read_csv("./data/results.csv")

In [3]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [4]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

## Inserción en MariaDB